<!DOCTYPE html>
<html>
  <head>
      <% if(!user) { %>
        <title>User - 404</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
        <link rel="stylesheet" href="/stylesheets/custom.css">
      <% } else { %>
    <title>User - <%= user.name %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <% }%>
  </head>
  <body>
    <div align="center" class="container">
        <% if(!user) { %>
        <div class="box">
          <article class="media">
            <div class="media-content e404">
              <i class="fa fa-exclamation-triangle fa-5x fa-xlg" aria-hidden="true"></i>
              <h1 class="title">No user found!</h1>
            </div>
          </article>
        </div>
        <% } else { %>
        <div align="left" class="box">
          <article class="media">
            <div class="media-left">
              <% if (user.avatarurl == "null") { %>
                <img src="/images/avatar.png">
              <% } else { %>
                <img src="<%= user.avatarurl %>">
              <% }%>
              <h2 class="subtitle is-5">XP: <%= user.xp %></h2>
              <h2 class="subtitle is-5">Rank: <%= user.rank %></h2>
              <h2 class="subtitle is-5">Credits: <%= user.credits %></h2>
              <h2 class="subtitle is-5">Archer Points: <%= user.ap %></h2>
          </div>
            <div class="media-content">
            <h1 class="title"><%= user.name %><small class="subtitle is-size-3">#<%= user.discrim %></small> <% if(user.status == "online"){ %> <span class="tag is-medium is-success">Online</span> <% } else if(user.status == "idle") { %> <span class="tag is-medium is-warning">Idle</span> <% } else if(user.status == "dnd") { %> <span class="tag is-medium is-danger">DND</span> <% } else {%><span class="tag is-medium">Offline</span> <% } %></h1>
            <h2 class="subtitle is-size-5">ID: <%= user.id %></h3>
            <h3 class="subtitle">Joined Discord on: <%= user.joined %></h3>
            <% if (user.website) { %><h2 class="subtitle">Website: <small class="subtitle is-size-5"><a href="<%= user.website %>"><%= user.website %></a> </h2><% } else{} %>
            <% if (user.bio) { %><h2 class="subtitle">Bio: <%= user.bio %></h2><% } else{} %>
          </div>
          </article>
        </div>
        <footer>
          <p>&copy; Loganrose 2017</p>
        </footer>
        <% } %>
    </div>
  </body>
</html>